.title-section {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  color: #333333;
  font-size: 32px;
  margin: 0 0 5px 0;
}

.subtitle {
  color: #888888;
  font-size: 18px;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

.table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

td {
  border-bottom: 1px solid #f3f3f3;
  font-size: 14px;
  color: #535353;
}

th {
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  font-weight: 500;
  color: #373737;
}

textarea {
  resize: none;
  font-family: Arial, sans-serif;
  height: 1.3em;
  padding: 5px;
  width: 95%;
}

textarea:focus {
  resize: vertical;
}

button {
  float: right;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 80px;
}

.table-container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 40px;
}